Profit-driven medical management
	•	Lack of knowledge/competency
	•	Inadequate actions - perceived lack of thoroughness
	•	Inadequate actions - Inadequate pain management
	•	Inadequate actions - Delayed care
	•	Inadequate actions - Potential overtreatment
	•	Inadequate actions - Misdiagnoses
	•	Inadequate actions - Other
	•	Other
