Analyze the Provided Social Media Post for Reasons of Mistrust regarding:
{{mistrust_reason_category}}

Input Post:
{% include "post_template.j2" %}

Analysis so far: 
- Object of mistrust: {{object_of_mistrust}}
- Object of mistrust category: {{object_of_mistrust_category}}
- Mistrust reason: {{mistrust_reason}}
- Mistrust reason category: {{mistrust_reason_category}}

Please select the specific category:
{% include finegranlular_categories_filename %}


Please analyze the post using the criteria outlined above.

